<div class="sideBar-container" style="height: 100vh; width: 20%; border:1px solid black; background-color: rgb(44, 44, 44); z-index: 1;  position: absolute;
top: 0;
bottom: 0;
left: 0;">
    <div class="sideBar-inner-container align-items-center" style="text-align: center;">
      <div class="sideBar-logo" >
        <img src="./assets/images/logo.png" style="width:50px; border-radius: 60%;">
        <div class="sideBar-home my-5">
            <a routerLink="/home" style="text-decoration: none; color: white;">Home</a>
          <div class="sideBar-shooter my-5">
            <a routerLink="/shooter-games" style="text-decoration: none; color: white;">Shooter Games</a>
            <div class="sideBar-card my-5">
                <a routerLink="/card-games" style="text-decoration: none; color: white;">Card Games</a>
              <div class="sideBar-strategy my-5">
                <a routerLink="/strategy-games" style="text-decoration: none; color: white;">Strategy Games</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>